%h2 What've you got:


%h3 Sheds?

%img{:src => 'http://www.kingsoutdoorworld.com/kow/wp-content/uploads/featured-shedz2.jpg'}

%h3 Heads?

%img{:src => 'http://www.kingsoutdoorworld.com/kow/wp-content/uploads/featured-raxx2.jpg'}


= render 'form'

or
= link_to 'Cancel', @animal, :method => :delete
