%h2 Listing All Points

%table-wrapper
  %table.admin
    %thead
      %tr
        %th id
        %th antler_id
        %th lg_point
    %tbody
      - @points.each do |point|
        %tr.point
          %td= point.id
          %td= point.antler_id
          %td= point.lg_point
